@page
@model LetsPartyProject.Pages.Calendars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Calendar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calendar.CalendarName" class="control-label"></label>
                <input asp-for="Calendar.CalendarName" class="form-control" />
                <span asp-validation-for="Calendar.CalendarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calendar.TeamId" class="control-label"></label>
                <select asp-for="Calendar.TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
