@page
@model LetsPartyProject.Pages.Users.CreateModel

@{ ViewData["Title"] = "Member Create"; }

<section id="sectionTeams" class="container">
    <header class="container mb-4">
        <div id="headerIndexPages" class="row align-middle">
            <div class="col-9">
                <h1>Member Create</h1>
            </div>
            <hr />
        </div>
    </header>
    <div id="formPages" class="row p-4">
        <div class="col">
            <form method="post">
                <div class="form-row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col">
                        <label asp-for="User.Name" class="control-label"></label>
                        <input asp-for="User.Name" class="form-control" />
                        <span asp-validation-for="User.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="User.Nickname" class="control-label"></label>
                        <input asp-for="User.Nickname" class="form-control" />
                        <span asp-validation-for="User.Nickname" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="User.Sector" class="control-label"></label>
                        <input asp-for="User.Sector" class="form-control" />
                        <span asp-validation-for="User.Sector" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label asp-for="User.DDD" class="control-label"></label>
                        <input asp-for="User.DDD" class="form-control" placeholder="11" />
                        <span asp-validation-for="User.DDD" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="User.Phone" class="control-label"></label>
                        <input asp-for="User.Phone" class="form-control" placeholder="98765-4321" />
                        <span asp-validation-for="User.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input asp-for="User.Email" class="form-control" placeholder="youremail@gmail.com" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="User.TeamId" class="control-label"></label>
                        <select asp-for="User.TeamId" class="form-control" asp-items="ViewBag.TeamId">
                            <option value="">-- Select your Team --</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label asp-for="User.Confirm" class="control-label"></label>
                        <select asp-for="User.Confirm" class="form-control">
                            <option value="">-- Confirm your presence --</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <span asp-validation-for="User.Confirm" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group pt-4">
                    <input type="submit" value="Create" class="btn btn-block btn-outline-success" />
                    <a class="btn btn-block btn-outline-info" asp-page="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
